<%= form_for(@question, :html => {:class => 'form'} , multipart: true) do |f| %>

    <%# f.error_messages! %>
    <% if @question.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
	    <%= f.label :タイトル %>
	    <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="field">
	    <%= f.label :内容 %>
	    <%= f.text_area :content, :rows => "10", class: 'form-control' %>
    </div>

    ファイル複数選択：<%# file_field_tag "images[]", type: :file, multiple: true %>

    Qathumbnail選択：
    <%= f.fields_for :qthumbnails do |qthumbnail| %>
      <%# image_tag(qthumbnail.image.thumb.url) %>
      <%= qthumbnail.file_field :image %>
      <%= qthumbnail.hidden_field :image_cache %>
    <% end %>

    <!-- ユーザー名非公開機能 -->
    <% if false %>
    <div class="field">
      <%= f.check_box :anonym, { class:"custom-checkbox" } %>
      <%= f.label_tag :anonym, 'ユーザー名非公開で投稿' %>
    </div>
    <% end %>

    <!-- タグクラウド -->
    <% if false %>
    <% tags = get_tag_list %>
    <div class="tag_list">
      <ul>
      <% tags.each do |tag| %>
        <li><%= f.check_box  :tag_ids , {multiple: true} %> <%= tag %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="actions">
      <% if new_or_edit == "new" %>
        <%= f.submit '質問する', class: 'btn btn-primary btn-block' %>
      <% else %>
        <%= f.submit '更新する', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
<% end %>
