<div class="container">
	<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
 
		<% @questions.each do |question| %>

			<div class="question">

				<div class="panel panel-default">

					<div class="panel-heading">
						<div>
							<%# image_tag('no_image.png', :size => "20×20") %>
							<%= '田中太郎' %>
						</div>
					</div>

					<div class="panel-body">
						<h3>
							<%= link_to question.title, question_path(question.id) %>
						</h3>
						<div class=body"">
							<%= question.content %>
						</div>
					</div>
					<div class="panel-footer">

						<% if false %>
						<% if question.user_id == current_user.id %>
				      <%= link_to "編集", edit_topic_path(question.id), class: 'btn btn-sm btn-success' %>
				      <%= link_to '削除', question_path(question.id), method: :delete, data: {confirm: "本当に削除していいですか？?"}, class: 'btn btn-sm btn-danger' %>
			      <% end %>
			      <%= link_to "詳細", question_path(question.id), class: 'btn btn-sm btn-default' %>
			      <% end %>

			    </div>
	      </div>
			</div>

		<% end %>
	</div>
</div>