<div class="container">
	<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
 		<div id="main">

		<% @questions.each do |question| %>
			<div class="question">
				<div class="row">

					<div class="col-xxs-7 poster">
						<div class="icon user_icon pull-left">
							<%= profile_img(question.user) %>
						</div>
						<span class="name pull-left"><%= get_user_name(question) %><%= get_user_level(question) %></span>
					</div>

					<div class="col-xxs-5 ca">
						<div class="pull-right">
							<span class="answer_count pull-left">
								<span class="tag label"><%= count_answer(question.id) %></span>
							</span>

								<% if question.user_id == current_user.id %>
									<div class="dropdown">
									  <button class="glyphicon glyphicon-pencil" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									  </button>
									  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									    <li><%= link_to "編集", edit_question_path(question.id) %></li>
									    <li><%= link_to '削除', question_path(question.id), method: :delete, data: {confirm: "本当に削除していいですか？?"} %></li>
									  </ul>
									</div>
				      	<% end %>
						</div>
					</div>

					<div class="clear"></div>

					<div class="content balloon">
						<h4><%= link_to question.title, question_path(question.id) %></h4>
						<div class="body">
							<%= question.content.truncate(100, separator: /\s/) %>
						</div>
					</div>

					<div class="tag-list">
						<% question.tag_list.each do |tag| %>
							<span class="label"><%= tag %></span>
						<% end %>
					</div>

				</div>
			</div>



						<% if false %>
						<% if question.user_id == current_user.id %>
				      <%= link_to "編集", edit_topic_path(question.id), class: 'btn btn-sm btn-success' %>
				      <%= link_to '削除', question_path(question.id), method: :delete, data: {confirm: "本当に削除していいですか？?"}, class: 'btn btn-sm btn-danger' %>
			      <% end %>
			      <%= link_to "詳細", question_path(question.id), class: 'btn btn-sm btn-default' %>
			      <% end %>

		<% end %>
		</div><!--#main-->
	</div>
</div>
