<div class="container">
	<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
		<div id="main">

			<div class="content_main_question">
				<h3>Q. <%= @question.title %></h3>
				<div class="body">
					<%= simple_format(h(@question.content)) %>
				</div>

				<% unless @question.qthumbnails.blank? %>
					<% @question.qthumbnails.each do |qthumbnail| %>
				    <a href="<%= qthumbnail.image.url %>" target="_blank"><%= image_tag(qthumbnail.image.thumb.url) %></a>
				  <% end %>
			  <% end %>

				<div class="tag-list">
					<% @question.tag_list.each do |tag| %>
						<span class="label"><%= tag %></span>
					<% end %>
				</div>
				<div class="pull-right">
					<%= get_user_name(@question) %>
				</div>
			</div><!--.content_main_question-->

		</div><!--#main-->

  	<div class="content_question">

  		<% if false %>
  		<div class="content_main_question">
  			<h3><%= @question.title %></h3>
  			<p class="body"><%= simple_format(h(@question.content)) %></p>
  			<p class="right"><%= get_user_name(@question) %></p>
  		</div><!--content_main_question-->
  		<% end %>

		  <div class="panel panel-default">
		  	
				<div class="panel-footer">
				  
					

					<% if false %>
					<% if question.user_id == current_user.id %>
			      <%= link_to "編集", edit_topic_path(question.id), class: 'btn btn-sm btn-success' %>
			      <%= link_to '削除', question_path(question.id), method: :delete, data: {confirm: "本当に削除していいですか？?"}, class: 'btn btn-sm btn-danger' %>
		      <% end %>
		      <%= link_to "詳細", question_path(question.id), class: 'btn btn-sm btn-default' %>
		      <% end %>

				</div>
			</div>

			<h3>回答一覧</h3>
		  <div class="panel panel-default">
		  	<div class="panel-heading">
				  <div id="answers_area">
				    <%= render partial: 'answers/index', locals: { answers: @answers, question: @question } %>
				  </div>
				</div>
			</div>
		  <%= render partial: 'answers/form', locals: { answer: @answer, question: @question } %>
		</div><!--content_question-->
	</div>
</div>