<!DOCTYPE html>
<html>
<head>
  <title>Igochie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
	<nav class="navbar navbar-inverse">

		<% flash.each do |key, value| %>
			<% key = "info" if key == "notice"%>
			<% key = "danger"  if key == "alert"%>
			<div class="alert alert-<%= key %>">
			  <button class="close" data-dismiss="alert">×</button>
			  <%= value %>
			</div>
		<% end %>

	  <div class="container-fluid">
	    <div class="navbar-header">
	    	<%= link_to "囲碁知恵袋", root_path, class: "navbar-brand" %>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li> 
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<% if false %>
	      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      <% end %>
	      <li><%= link_to "質問する", new_question_path %></li>

	      <% if user_signed_in? %>
		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span></a>
		        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">

		          <li><a href=<%= edit_user_registration_path %>><span class="fSize17 bolder"><%= current_user.name %></span><br>プロフィールを編集</a></li>
		          <li role="separator" class="divider"></li>
							<li><%= link_to 'アカウント設定', edit_user_path  %></li>
		          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
		        </ul>
	        </li>
				<% else %>
					<li><%= link_to 'ログイン', new_user_session_path  %></li>
				<% end %>
	      
	    </ul>
	  </div>
	</nav>
</header>

<%= yield %>

</body>
</html>
